body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1633;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo a{
  font-size: 2rem;
  font-weight: bold;
  color: #B388FF;
  cursor: pointer;
  text-decoration: none;
}
.cart-pri{
  color: white;
}
.home-btn {
  background: #2A2342;
  color: #B388FF;
  padding: 10px 22px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
}
h2 {
  font-weight: 600;
}
.cardthumbnail img {
  border-radius: 12px;
  max-height: 200px;
  object-fit: contain;
}
.cart-summary {
  border-top: 2px solid #ddd;
  padding-top: 15px;
}
.btn-success {
  border-radius: 25px;
  font-weight: 500;
}
#cart-total{
    color: white;
}
#searchInput {
  max-width: 100%;
  border: 1px solid #B388FF;
  background-color: transparent;
  color: #B388FF;
}
#searchInput:focus {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}
#searchInput::placeholder {
  color: #B388FF;
}